# Android Studio / IntelliJ
*.iml
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/vcs.xml

# Gradle
.gradle/
build/
**/build/

# Local config
local.properties
/local.properties

# macOS
.DS_Store

# NDK / CMake
.cxx/
externalNativeBuild/

# Captures
captures/

# Misc
*.log